* {
    background-size: auto;
    border-radius: 8%;
    border-width: 2px;
    margin: 0;
    padding: 2px;
}

#Titulo {
    color: rgb(160, 122, 194);
    font-family: Georgia;
    margin-left: 8%;
}

#Subtitulo {
    color: rgb(160, 122, 194);
    font-family: Georgia;
    margin-left: 8%;
}

fieldset {
    border: 0;
}

body {
    background-color: rgb(245, 239, 245);
    color: rgb(160, 122, 194);
    font-family: Georgia;
    font-size: 2em;
    justify-content: center;
    margin-left: 36%;
    margin-top: 3%;
}

input,
select,
textarea,
button {
    border-radius: 3px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    color: rgb(160, 122, 194);
    display: block;
    margin-bottom: 0.2em;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    border: 2px solid #4f378d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.2em;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #e0e0f8;
}

.botao {
    background: #4f378d;
    border: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
}
